name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [ masque-go, google-quiche ]

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      with:
          context: .
          push: false
          platforms: linux/arm64
      run: |
        docker build ./${{ matrix.service }} \
          --file ./${{ matrix.service }}/Dockerfile \
          --tag my-image-${{ matrix.service }}:$(date +%s)
